:root {
  --primary-color: #ee4d2d;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --border-color: #dbdbdb;
}
* {
  /* Tất cả thẻ được kế thừa từ box sizing của html */
  box-sizing: inherit;
}
html {
  /* Để biến 1 rem thành 10px */
  font-size: 62.5%;
  line-height: 1.6rem;
  /* sans-seif là chủng chữ không chân, đc dùng nếu Roboto không tải được */
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
.grid {
  /* Tại màn hình mình tới 1500px lận */
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
}
.grid__full-width {
  width: 100%;
}
.grid__row {
  display: flex;
  flex-wrap: wrap;
}
/* Animation */
/* Hiệu ứng hiện lên cho đẹp */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Modal layout*/
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}
.modal__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal__body {
  position: relative;
  margin: auto;
  z-index: 1;
}
/* Button style */
/* btn là phần chung: nút dùng chung */
.btn {
  background-color: var(--white-color);
  min-width: 142px;
  height: 34px;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  font-size: 1.5rem;
  /* Bỏ padding mặc địng trong thẻ button */
  padding: 0;
  outline: none;
  cursor: pointer;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn.btn--normal:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.btn.btn--size-s {
  padding: 0 8px;
  height: 32px;
  font-size: 1.2rem;
}
.btn.btn--primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}
/* Vô hiệu hóa nút bấm: Dành cho BE */
.btn.btn--disable {
  cursor: default;
  background-color: #c3c3c3;
  color: #949494;
}
